/* Start global rules */
:root{
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
    --section-background: #f1f0fa;
    --main-transition:.5s ;
    --text-color: #666;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "work-sens", sans-serif;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.title-section{
    text-align: center;
}
.title-section>h2{
    font-size: 25px; 
    width: fit-content;
    padding: 15px 30px;
    border: 2px solid black;
    margin: 0 auto 80px;
    text-transform: uppercase;
    position: relative;
    transition: var(--main-transition);
    z-index: 3;
}
.title-section h2::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: -1;
    background: var(--main-color);
}
.title-section h2::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    right:-30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: -1;
    background-color: var(--main-color);
}
.title-section:hover :before{
    animation: left-move .5s linear forwards ;
}
.title-section:hover ::after{
    animation: right-move .5s linear forwards ;
}
.title-section:hover h2{
    color: white;
    border: 2px solid white;
    transition-delay: .5s;
}
/* small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* medium */

@media (min-width:992px){
    .container{
        width: 978px; ;
    }
}
/* large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End global rules */
/* Start Header */
header{
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    position: relative;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
header .container .logo{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: var(--main-color);
    font-size: 30px;
    height: 72px;   
}
header .main-nav{
    display: flex;
}
header .main-nav>li>a{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: black;
    height: 72px;   
    padding: 0 30px;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    transition: var(--main-transition);  
}
header .main-nav>li:hover .mega-menu{
    opacity: 1;
    z-index: 2;
    top: calc(100% + 1px);
}
header .main-nav>li>a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    transition: var(--main-transition);  
}
header .main-nav li:hover a{
    color: var(--main-color-alt);
    background-color: #fefefe;
}
header .main-nav li:hover a::before{
    left: 0;
}
@media(max-width:767px){
    header .container .logo{
        width: 100%;
        height: 50px;
    }
    header .main-nav{
        margin: auto;
    }
    header .main-nav>li>a{
        font-size: 17px;
        padding: 10px;
        height: 40px;
    }
}
header .mega-menu{
    display: flex;
    gap: 30px;
    position: absolute;
    width: 100%;
    left: 0;
    background: white;
    z-index: -1;
    padding: 30px;
    border-bottom: 3px solid var(--main-color) ;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width:767px) {
    header .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 10px;
    }
}
@media (max-width:991px) {
    header .mega-menu .image{
        display: none;
    }
}
header .mega-menu img{
    width: 100%;
}
header .mega-menu .links{
    flex: 1;
    min-width: 220px;
}    
header .mega-menu .links li{
    position: relative;
}
header .mega-menu .links li::before{
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    top: 0 ;
    height: 100%;
    background-color: rgb(89, 0, 255);
    z-index: -1;
    text-align: right;
    background: transparent;
    border-bottom: 1px dotted rgb(187, 159, 159);

}
header .mega-menu .links li:hover::before{
    width: 100%;
}
header .mega-menu .links li:not(:last-child){
    border-bottom: 1px dotted rgb(104, 58, 58);
}
@media (max-width:767px){
    header .mega-menu .links:first-of-type li:last-child{
        border-bottom: 1px solid #aa3434; 
    }
}
header .mega-menu .links li a{
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}
header .mega-menu .links li i{
    margin-right: 10px;
}
/* End Header */
/* Start Landing */
.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: -87px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--section-background);
    transform: skewY(-6deg);
}
.landing .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
}
@media(max-width:991px){
    .landing .container .image{
        display: none;
    }
    .landing .container .text{
        text-align: center;
        margin: auto;
    }
    .landing .container .text p{
        margin: 10px auto;
    }
} 
.landing .container .text h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
    color: #0f002b;
}
@media(max-width:767px){
    .landing .container .text h1{
        font-size: 20px;
    }
}
.landing .container .text p{
    font-size: 25px;
    line-height: 1.8;
    color: #0f002b;
    max-width: 500px;
    margin: 5px 0;
}
@media(max-width:767px){
    .landing .container .text p{
        font-size: 15px;
        line-height: 1.5;
    }
}
.landing .image{
    width: 600px;
}
.landing .image img{
    max-width: 100%;
    position: relative;
    animation: up-and-down 5s linear infinite;
}
.landing .go-down{
    position: absolute;
    color: var(--main-color);
    bottom: 30px;
    left: 50%;
    transform: translateX(10px);
    transition: var(--main-transition);
}
.landing .go-down:hover{
    color: var(--main-color-alt);
}
.landing .go-down i{
    position: relative;
    animation: bouncing 1.5s infinite;
}
/* End Landing */

/* Start Footer */
footer{
    padding-top: var(--main-padding-top);
    background-color:#0f002b;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 30px;
}
footer .col1 h2{
    color: white;
    font-size: 30px;
}
footer .col1 ul.social{
    margin: 20px 0;
    color: #b9b9b9;
    display: flex;
    align-items: center;
    justify-content: start;
}
footer .col1 ul.social li{
    margin-right: 10px;
}
footer .col1 ul.social li a{
    display: block;
    color: #b9b9b9;
    height: 55px;
    width: 57px;
    padding: 10px;
    background-color: #322f2fcf;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .col1 p{
    margin: 20px 0;
    color: #b9b9b9;
    line-height: 1.8;
}

footer .col2 ul li{
    border-bottom: 1px solid rgb(119 119 119 / 48%);
}
footer .col2 ul li:last-child{
    border: none;
}
footer .col2 ul li a{
    color: #b9b9b9;
    display: block;
    position: relative;
    font-size: 20px;
    padding: 20px 0;
    transition: var(--main-transition);
}
footer .col2 ul li a::before{
    content: "";
    font-family: "font awesome 5 free";
    font-weight: 900;    
    color: var(--main-color);
    margin-right: 20px;
}
footer .col2 ul li a:hover{
    padding-left: 20px;
}
footer .col3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
footer .col3 .text{
    margin: 30px 0;
    display: flex;
    align-items: center;
    left: 0;
}
footer .col3 .text i{
    color: var(--main-color);
    font-size: 30px;
}
footer .col3 .text p{
    margin-left: 15px;
    color: #b9b9b9;
    font-size: 18px;
}
/* End Footer */

/* Start Animation */
@keyframes up-and-down{
    0%,100%{top: 0;
    }
    50%{
        top: -100px;
    }
}
@keyframes bouncing {
    0%,
    20%,
    50%,
    70%,
    100%{
        transform:translateY(0);
    }
    40%, 60%{
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}
@keyframes right-move {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}
@keyframes move-arrow {
    100%{
        transform: translatex(10px);
    }
}
@keyframes flashing {
    0%,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes chande-background {
    0% , 100%{
        background-image: url(../images/discount-background1.jpg);
    }
    50%{
        background-image: url(../images/discount-background2.jpg);
    }
}
/* End Animation */


